body {
    background-color: #28a1ec;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-family: monospace;
    font-weight: 100;
    color: White;
}

#poga {
    display: flex;
    justify-content: center;
    align-items: center;
}

#jaunsPirkums {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 70px;
    font-size: 18px;
    border-radius: 30px;
    border: 7px solid SkyBlue;
    cursor: pointer;
}

#popUp {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

input#precesNosaukums {
    height: 30px;
    width: 200px;
    font-size: 20px;
    margin: 12px;
}

input#daudzums {
    height: 30px;
    width: 120px;
    font-size: 20px;
}

#pievienotPirkumu {
    cursor: pointer;
    color: #28a1ec;
    border: 4px solid #28a1ec;
    width: 150px;
    height: 40px;
    background-color: white;
    border-radius: 30px;
    font-size: 20px;
    margin-left: 120px;
}

#form {
    background-color: white;
    margin: 12% auto;
    border: 1px solid black;
    width: 400px;
    height: 200px;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: fantasy;
    font-weight: 100;
    color: black;
}

#saraksts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pirkums {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 7px solid SkyBlue;
    border-radius: 30px;
    width: 175px;
    height: 225px;
    padding: 15px;
    background-color: Lavender;
    font-size: 18px;
    margin: 12px;
}