body {
    background-color: #28a1ec;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-family: monospace;
    font-weight: 100;
    color: White;
}

#poga {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pievienotPirkumu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 225px;
    font-size: 18px;
    border-radius: 30px;
}